/* bg.css or global.css */
body {
    background-image: url('/bg1.jpg'); /* อ้างอิงรูปภาพที่อยู่ในโฟลเดอร์ public */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  